.ColorContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1000px;
    width: 100%;
  }

.ColorContainer--title {
  color: #424242;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 400;
}
